@model emtyproject.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col">
        <h2>Edit Employee</h2>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            //@Html.ValidationSummary()
            @Html.HiddenFor(x=>x.EmployeeId)
            <div class="row mb-2">
                <label class="col-form-label col-2">Employee Name</label>
                <div class="col-6">
                    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Join Date</label>
                <div class="col-6">
                    @Html.TextBoxFor(x => x.JoinDate, new { @class = "form-control", type = "date" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.JoinDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-2">Grade</label>
                <div class="col-6">
                    @Html.EnumDropDownListFor(x => x.Grade, "---Select One------", new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.Grade, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2">&nbsp;</div>
                <div class="col-6">
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                </div>
            </div>

        }
    </div>
</div>
